pyodbc
mcp
requests
psutil
cryptography
azure-storage-blob
azure-appconfiguration
azure-mgmt-resource
azure-mgmt-containerregistry
azure-containerregistry
azure-mgmt-network
azure-mgmt-monitor
azure-identity
fastmcp