starlette
fastmcp
uvicorn
simple_salesforce
langchain_core
langchain
python-dotenv
langchain_openai
langchain-google-genai
google-generativeai
langchain-mcp-adapters
langgraph
fastapi
tavily-python
langchain-community
google-auth-oauthlib
